<div id="<%= dom_id invoice %>">

  <p>
    <strong>Invoice id:</strong>
    <%= invoice.id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= invoice.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= invoice.amount %>
  </p>

  <p>
    <strong>Amount currency:</strong>
    <%= invoice.amount_currency %>
  </p>


  <p>
    <strong>status:</strong>
    <%= status(invoice) %>
  </p>

</div>
