<h1>New invoice</h1>

<%= simple_form_for @invoice, url: invoices_path do |f| %>
  <%= f.input :description, required: true %>
  <%= f.input :amount, required: true, as: :integer %>
  <%= f.input :amount_currency, required: true %>
  <%= f.button :submit %>

<% end %>

<br>

<div>
  <%= link_to "Back to invoices", invoices_path %>
</div>
